---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import BaseLayout from "../layouts/base.astro";
---

<BaseLayout>
  <main>
    <div class="px-10 relative xl:px-40 flex flex-col">
      <section>
        <div class="flex flex-col gap-10 relative">
          <h1 class="text-5xl mt-16 max-w-[24ch]">
            the free linux server by <span class="text-hackclub-red underline">
              HackClub
            </span>
          </h1>
          <div class="relative w-full h-[21rem] p-3">
            <div
              class="absolute right-0 bottom-0 bg-hackclub-red rounded-tl-[10rem] rounded-br-xl p-20"
            >
            </div>
            <div
              class="absolute left-0 right-0 top-0 bottom-0 backdrop-blur-xl rounded-xl bg-gray-900/40 shadow-xl"
            >
            </div>
            <div class="flex absolute gap-0.5">
              <div class="bg-red-600 rounded-full p-2"></div>
              <div class="bg-yellow-400 rounded-full p-2"></div>
              <div class="bg-green-400 rounded-full p-2"></div>
            </div>
            <div class="mt-10 relative">
              <div class="flex">
                <h2 class="text-2xl flex items-center gap-2 font-medium">
                  <Icon
                    class={"text-primary"}
                    name={"lucide:chevron-right"}
                    size={24}
                  />
                  ssh
                  <span class="text-primary underline"> hackclub.app </span>
                </h2>
                <button
                  class="hover:bg-gray-700 ml-1 w-8 h-8 rounded-xl flex items-center justify-center transition-colors ease-in-out duration-300"
                >
                  <Icon name={"lucide:clipboard"} size={18} />
                </button>
              </div>
              <p class="whitespace-pre mt-2 text-xs">
                {
                  `__________________    website@nest 
< Welcome to Nest! >   ----------- 
 ------------------    OS: Debian GNU/Linux 12 (bookworm) x86_64 
          \             Host: KVM/QEMU (Standard PC (i440FX + PIIX, 1996) pc-i440fx-8.1) 
           \            Kernel: 6.1.0-21-amd64 
            \  __       Uptime: 22 days, 2 hours, 1 min 
              / _)     Packages: 1448 (dpkg), 104 (nix-user), 51 (nix-default) 
     _.----._/ /       Shell: bash 5.2.15 
    /         /        Resolution: 1280x800 
 __/ (| | (  |         Terminal: /dev/pts/88 
/__.-'|_|--|_|         CPU: 13th Gen Intel i5-13500 (20) @ 2.496GHz 
                       GPU: 00:02.0 Vendor 1234 Device 1111 
                       Memory: 26666MiB / 52203MiB `
                }
              </p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="text-center">
          <h2 class="text-center text-3xl mt-10">
            Join over 100+ teens using Nest
          </h2>
          <p>And see what other "birds" are hosting</p>
        </div>
        <ul
          class="relative mt-20 justify-between w-full grid grid-cols-1 sm:grid-cols-2 gap-10 xl:grid-cols-4 xl:gap-20"
        >
          <li
            class="first:skew-y-[8deg] last:-skew-y-[8deg] first:-translate-y-8 last:-translate-y-8 h-64 w-60 bg-gray-900 rounded-xl shadow-xl relative"
          >
            <img
              src="https://avatars.githubusercontent.com/u/77029802?v=4"
              alt="Hack Club logo"
              class="rounded-full w-8 h-8 absolute -top-2 -right-2"
            />
            <img
              src="/neo.png"
              alt="Hack Club logo"
              class="h-32 w-full rounded-xl"
            />

            <div class="flex flex-col p-3">
              <h3 class="flex gap-1 items-center text-lg text-medium">
                Neo Letter
                <Icon name={"lucide:github"} />
              </h3>
              <p class="text-xs text-gray-500 underline">@NeoPrint3D</p>
              <p class="mt-1 text-xs">
                A multiplayer wordle game that you can play with your friends.
              </p>
            </div>
          </li>
          <li
            class="-skew-y-[4deg] first:-translate-y-8 last:-translate-y-8 h-64 w-60 bg-gray-900 rounded-xl shadow-xl relative"
          >
            <img
              src="https://avatars.githubusercontent.com/u/77029802?v=4"
              alt="Hack Club logo"
              class="rounded-full w-8 h-8 absolute -top-2 -right-2"
            />
            <img
              src="/neo.png"
              alt="Hack Club logo"
              class="h-32 w-full rounded-xl"
            />

            <div class="flex flex-col p-3">
              <h3 class="flex gap-1 items-center text-lg text-medium">
                Neo Letter
                <Icon name={"lucide:github"} />
              </h3>
              <p class="text-xs text-gray-500 underline">@NeoPrint3D</p>
              <p class="mt-1 text-xs">
                A multiplayer wordle game that you can play with your friends.
              </p>
            </div>
          </li>
          <li
            class="skew-y-[4deg] first:-translate-y-8 last:-translate-y-8 h-64 w-60 bg-gray-900 rounded-xl shadow-xl relative"
          >
            <img
              src="https://avatars.githubusercontent.com/u/77029802?v=4"
              alt="Hack Club logo"
              class="rounded-full w-8 h-8 absolute -top-2 -right-2"
            />
            <img
              src="/neo.png"
              alt="Hack Club logo"
              class="h-32 w-full rounded-xl"
            />

            <div class="flex flex-col p-3">
              <h3 class="flex gap-1 items-center text-lg text-medium">
                Neo Letter
                <Icon name={"lucide:github"} />
              </h3>
              <p class="text-xs text-gray-500 underline">@NeoPrint3D</p>
              <p class="mt-1 text-xs">
                A multiplayer wordle game that you can play with your friends.
              </p>
            </div>
          </li>
          <li
            class="first:skew-y-[8deg] last:-skew-y-[8deg] first:-translate-y-8 last:-translate-y-8 h-64 w-60 bg-gray-900 rounded-xl shadow-xl relative"
          >
            <img
              src="https://avatars.githubusercontent.com/u/77029802?v=4"
              alt="Hack Club logo"
              class="rounded-full w-8 h-8 absolute -top-2 -right-2"
            />
            <img
              src="/neo.png"
              alt="Hack Club logo"
              class="h-32 w-full rounded-xl"
            />

            <div class="flex flex-col p-3">
              <h3 class="flex gap-1 items-center text-lg text-medium">
                Neo Letter
                <Icon name={"lucide:github"} />
              </h3>
              <p class="text-xs text-gray-500 underline">@NeoPrint3D</p>
              <p class="mt-1 text-xs">
                A multiplayer wordle game that you can play with your friends.
              </p>
            </div>
          </li>
        </ul>
      </section>

      <section>
        <div class="text-center mt-20">
          <h2 class="text-3xl">Get started with Nest</h2>
          <p>And start hosting your projects</p>
        </div>
        <div class="flex justify-center mt-10 gap-5">
          <a
            href="/register"
            class="!flex items-center gap-1 btn-base btn-primary"
          >
            <Icon name={"lucide:user-round-plus"} size={18} />
            Register
          </a>

          <a
            href="/register"
            class="!flex items-center gap-1 btn-base btn-outline"
          >
            <Icon name={"lucide:book-open-text"} size={18} />
            Read the docs</a
          >
        </div>
      </section>
    </div>
  </main>
</BaseLayout>
